@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  background-color: blue;

  .container{
    width: 100%;
    display: flex;
    flex-direction: row;
   
    
  }
}
