@import "../../styles/constants.scss";

.container {
  width: 100%;
  background-color: white;
  height: calc(100vh - 50px);
  .top_section {
    @media (max-width: $sm), (max-width: $md) {
      height: 350px;
    }
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 50%;
    background-color: rgb(0, 0, 0);

    .editProfile {
      position: absolute;
      width: 150px;
      height: 30px;
      right: 10px;
      border-radius: 3px;
      bottom: 110px;
      border: none;
      font-size: 15px;
      font-weight: 500;
      transition: ease-in-out 300ms;
      &:hover {
        transform: translateY(-2px);
        cursor: pointer;
      }
    }
    .top_section_lower {
      @media (max-width: $sm), (max-width: $md) {
        background-color: grey;
      }
      width: 100%;
      height: 30%;
      background-color: rgb(238, 238, 238);
      display: flex;
      justify-content: flex-start;
      gap: 10px;
      padding-inline: 20px;
      align-items: center;

      .action {
        width: 170px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 10px;
        padding-top: 20px;
        button {
          width: 60px;
          height: 30px;
          border: none;
          border-radius: 5px;
          background-color: black;
          color: white;
          &:hover {
            scale: 1.02;
            cursor: pointer;
          }
        }
      }
    }

    .dp {
      @media (max-width: $sm), (max-width: $md) {
        left: 30%;
        border-radius: 999px;
        bottom: 80px;
      }
      position: absolute;
      bottom: 70px;
      background-color: black;
      border-radius: 10px;
      left: 30px;
      width: 150px;
      height: 150px;
      border: 2px solid rgb(255, 255, 255);
      object-fit: cover;
      overflow: hidden;
      img {
        width: 100%;
        max-height: min-content;
        min-height: 100%;
        border-radius: 10px;
        object-fit: cover;
      }
    }

    .edit {
      @media (max-width: $sm), (max-width: $md) {
        left: 46%;
        bottom: 70px;
      }
      position: absolute;
      left: 160px;
      bottom: 70px;
      background-color: rgb(121, 121, 121);
      width: 25px;
      height: 25px;
      border-radius: 5px;
      &:hover {
        cursor: pointer;
      }
    }

    .info {
      @media (max-width: $sm), (max-width: $md) {
        bottom: 0px;
        left: 0px;
        border-radius: 999px;
      }
      color: white;
      position: absolute;
      left: 200px;
      bottom: 105px;

      p {
        &:first-child {
          text-transform: capitalize;
          font-weight: 500;
          font-size: 30px;
         margin-bottom: 5px;
        }

        &:nth-child(2) {
          color: rgb(122, 120, 120);
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 5px;
          font-size: 15px;
          img {
            width: 20px;
            border-radius: 999px;
            margin-left: 3px;
          }

          button {
            background-color: red;
            border: none;
            padding: 0.2rem 0.5rem;
            border-radius: 5px;

            &:hover {
              cursor: pointer;
              scale: 1.02;
            }
          }
        }

        &:last-child{
          font-size: 12px;
          color: rgb(176, 176, 176);
        }
      }

    }
  }

  .middle_section {
    display: flex;
    flex-direction: column;
    height: 50%;
    .sections {
      width: 50%;
      height: 100px;
      display: flex;
      flex-direction: row;
      gap: 30px;
      justify-content: flex-start;
      align-items: center;
      padding: 2rem;

      p {
        &:first-child {
          width: 20%;
          color: #7f7f7f;
          font-size: 20px;
          font-weight: 500;
        }

        &:last-child {
          height: 2rem;
          width: 80%;
          color: rgb(59, 59, 59);
          background-color: rgb(227, 227, 227);
        }
      }
    }
  }
}

Form {
  @media (max-width: $sm), (max-width: $md) {
    grid-template-columns: auto;
  }
  padding: 10px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

.modal_name,
.modal_email {
  color: rgb(44, 44, 44);
  font-weight: 500;
  font-size: 25px;
  padding: 0;
  margin: 0;
}

.modal_email {
  color: grey;
  font-size: 15px;
  font-weight: 400;
}
